body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:356px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:100px;
  display:flex;
}
.u221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:23px;
}
.u222 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:70px;
  width:54px;
  height:23px;
  display:flex;
}
.u222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
}
.u223 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:41px;
  width:54px;
  height:25px;
  display:flex;
  color:#F59A23;
}
.u223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:80px;
}
.u224 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:10px;
  width:210px;
  height:80px;
  display:flex;
}
.u224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u220-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:100px;
}
#u220-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:356px;
  height:100px;
}
#u220-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:356px;
  height:100px;
}
#u220-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:356px;
  height:100px;
}
#u220-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:356px;
  height:100px;
}
#u220-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:500px;
  width:356px;
  height:100px;
}
#u220-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:356px;
  height:100px;
}
#u220-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:700px;
  width:356px;
  height:100px;
}
#u220-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:356px;
  height:100px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:356px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u225_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  display:flex;
}
#u225 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u225_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225.disabled {
}
.u225_input_option {
}
